logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

public/*

.metals/
.vscode/
.bloop/
metals.sbt

documentations/moodle_lti.pdf

corasEvaluator/nodeMatchingEvaluation.csv

**/__pycache__/

# debug files
awaited.json
result.json

falsePositives.json
falseNegatives.json
